.soundPlayer {
  display: flex;
  align-items: center;

  &_btn {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    padding: 0;

    border-radius: 50%;
    border: 0.1rem solid #00bc8c;
    background-color: transparent;

    .sb-soundplayer-icon {
      width: 0.7rem;
      height: 0.7rem;

      fill: #00bc8c;
    }
  }

  &_progress {
    flex: 1 0 auto;
    height: 0.3rem;

    border-radius: 0.3rem;
    background-color: #737373;

    &_line {
      height: 0.3rem;

      border-radius: 0.3rem;
      background-color: #00bc8c;
    }
  }
}
