.soundPlayer {
  .rhap {
    &_container {
      padding: 0;

      background-color: transparent;
      border: 0;
      box-shadow: none;

      &:focus {
        outline: 0;
      }
    }

    &_time {
      color: #ffffff;
    }

    &_controls-section {
      flex: 0 0 auto;
      padding-right: 1rem;
    }

    &_volume-controls, &_volume-container {
      flex: 1 0 5rem;
      width: 5rem;
    }

    &_main-controls-button {
      margin-left: 0;
    }

    &_main-controls-button, &_volume-button {
      color: #008966;

      transition: 0.5s;

      &:hover, &:focus {
        color: #00bc8c;
      }
    }

    &_volume-indicator, &_progress-indicator {
      background-color: #008966;

      transition: background-color 0.5s !important;

      &:hover, &:focus {
        background-color: #00bc8c;
      }
    }

    &_volume-bar-area, &_progress-container {
      &:focus {
        outline: 0;
      }
    }

    &_progress-filled {
      background-color: #008966;
    }

    &_progress-bar, &_progress-filled {
      border-radius: 5px;
    }
  }
}
